main {
    text-align: left;
    margin-left: 2rem;
    background-image: url(../../assets/react.svg);
    background-repeat: no-repeat;
    background-position-x: 150%;
    background-position-y: 75%;
    background-size: 20rem;
    
}   
ul {
    margin-left: 1.5rem;
}
li::marker{
    color:aqua;
    
}
li {
    color:aliceblue;
    font-size: 1.5rem;
}